<%
  var slug = [id, slide.slug, index, "audio"].filter(d => d).join("-");
%>
<section data-slug="<%= slide.slug %>" id="<%= slug %>" class="audio">

  <% if (slide.video) { %>
  <video 
    id="<%= slug %>-video-backdrop"
    class="backdrop" loop autoplay muted playsinline 
    data-src="./assets/synced/<%= slide.video %>"
    poster="./assets/synced/<%= slide.video %>.jpg"
  ></video>
  <% } else if (slide.parallax){ %>
    <div class="parallax">
    <% for (var p of slide.parallaxImages) { %>
      <img 
        src="./assets/synced/images/<%= p.image %>" 
        class="backdrop"
        alt="background nature image"
        style="--image-parallax:<%= p.position %>;">
    <% } %>
    </div>

  <%}  else {%>
  <shader-box class="backdrop" src="./assets/bokeh.glsl"></shader-box>
  <audio-visualizer class="backdrop" color="white" for="<%= slug %>-audio"></audio-visualizer>
  <% } %>

  

  <div class="content">
    <%= t.renderMarkdown(slide.text) %>
    <div class="clips">
      <!-- <hr class="divider"> -->
      <div class="top">
        <media-controls for="<%= slug %>-audio">
          <%= slide.label || "" %>
        </media-controls>
        <audio
          id="<%= slug %>-audio"
          src="./assets/synced/audio/<%= slide.audio %>"
        >
          <% if (slide.captions) { %>
          <track default kind="captions" src="./assets/synced/audio/<%= slide.captions %>"></track>
          <% } %>
        </audio>
      </div>
    </div>
  </div>
</section>
