<%
  var slug = [id, slide.slug, index, "audio"].filter(d => d).join("-");
%>
<section 
  data-slug="<%= slide.slug %>" 
  id="<%= slug %>" 
  class="audio"

  <% if (slide.video) { %>
  data-video="./assets/synced/<%= slide.video %>"
  data-video-poster="./assets/synced/<%= slide.video %>.jpg"
  <% if (!slide.noLoop) { %>data-loop<% } %>
  data-autoplay
  <% } %>
>

  <% if (slide.parallax){ %>
    <div class="parallax" style="perspective-origin: <%= slide.origin %>;">
    <% for (var p of slide.parallax) { %>
      <img 
        data-src="./assets/synced/images/<%= p.image %>" 
        class="backdrop"
        alt="background nature image"
        style="--image-parallax:<%= p.position %>;">
    <% } %>
    </div>

  <%} else if (!slide.video) { %>
    <shader-box class="backdrop" data-src="./assets/bokeh.glsl"></shader-box>
    <audio-visualizer class="backdrop" color="white" for="<%= slug %>-audio"></audio-visualizer>
  <% } %>

  <div class="content">
    <%= t.renderMarkdown(slide.text) %>
    <div class="clips">
      <!-- <hr class="divider"> -->
      <div class="top">
        <media-controls for="<%= slug %>-audio">
          <%= slide.label || "" %>
        </media-controls>
        <audio
          id="<%= slug %>-audio"
          src="./assets/synced/audio/<%= slide.audio %>"
        >
          <% if (slide.captions) { %>
          <track default kind="captions" src="./assets/synced/audio/<%= slide.captions %>"></track>
          <% } %>
        </audio>
      </div>
    </div>
  </div>
</section>
