<%
  var slug = [id, slide.slug, index, "audio-mixer"].filter(d => d).join("-");
%>
<section data-slug="<%= slide.slug %>" id="<%= slug %>" class="audio-mixer">
  <% if (slide.image) { %>
  <img class="backdrop" alt="" data-src="./assets/synced/images/<%= slide.image %>">
  <% } %>
  <div class="content">
    <%= slide.text %>
    <div class="mixer-elements">
      <% slide.audio.forEach(function(v) { %>
      <div id="<%=v.label %>" class="mixer-element">
        
      <mix-channel loop data-src="./assets/synced/audio/<%= v.file %>">
        <img alt="play button" id="<%=v.label %>" height="56" width="56" data-src="./assets/audioMixer/<%=v.icon %>">
        <h4 class="mixer-label"><%=v.label %></h4>
      </mix-channel>
      
      
    </div>
      <% }) %>
    </div>
  </div>
</section>