<%
  var { interstitials } = grunt.data.archieml.text.metadata;
%>
<section data-slug="<%= id %>-chooser" class="chooser-slide" data-randomized>
  <% for (var f of interstitials) { %>
  <source data-possible="./assets/synced/silent/<%= f %>">
  <% } %>
  <div class="contents">
    <div class="choices">
      <button class="random-choice">Experience more joy</button>
      <!-- <button class="random-choice alternate">Soothe me!</button> -->
    </div>

    <div class="text">
      <a href="#story=menu" class="browse">Browse all stories</a>
    </div>
    
    <% if (metadata.refs) { %>
    <div class="text">
      <h3 class="ref-hed">More NPR reading</h3>
      <ul class="refs">
        <% metadata.refs.forEach(function(r) { %>
        <li style="background-image: url(assets/audioMixer/slider-circle.svg)"> <a href="<%= r.url %>"><%= r.title %></a>
        <% }) %>
      </ul>
    </div>
    <% } %>

  </div>
</section>
