<%
  var { interstitials, chooserButtonText } = grunt.data.archieml.text.metadata;
%>
<section data-slug="<%= id %>-chooser" class="chooser-slide" data-randomized>
  <% if (false) for (var f of interstitials) { %>
  <source data-possible="./assets/synced/silent/<%= f %>">
  <% } %>
  <shader-box class="backdrop"></shader-box>
  <div class="contents">
    <div class="choices">
      <button data-focus class="random-choice chooser-splotch-1"><%= chooserButtonText %></button>
      <a href="#story=menu" class="random-choice alternate chooser-splotch-2">Browse all stories</a>
    </div>

    <% if (metadata.refs) { %>
    <div class="text">
      <h3 class="ref-hed">More NPR reading about <%= metadata.reference %></h3>
      <ul class="refs">
        <% metadata.refs.forEach(function(r) { %>
        <li> <a class="ref" href="<%= r.url %>" target="_blank"><%= r.title %></a>
        <% }) %>
      </ul>
    </div>
    <% } %>

  </div>
</section>
