<%
  var slug = [id, slide.slug, index, "slide"].filter(d => d).join("-");
%>
<section 
  id="<% slug %>"
  data-slug="<%= slide.slug %>"
  <% if (slide.video) { %>
  data-video="./assets/synced/<%= slide.video %>"
  data-video-poster="./assets/synced/<%= slide.video %>.jpg"
  <% if (!slide.noLoop) { %>data-loop<% } %>
  data-autoplay
  <% } %>
  <% if (slide.anchor) { %>
  data-anchor="<%= slide.anchor %>"
  <% } %>
  class="<%= slide.layout || "" %>"
>
  <% if (slide.image) { %>
  <img class="backdrop" alt="" data-src="./assets/synced/images/<%= slide.image %>">
  <% } %>
  <% if (slide.text) { %>
  <div class="content">
    <%= t.renderMarkdown(slide.text || "") %>
    <% if (slide.muted) { %>
    <media-mute for="<%= slug %>-video-backdrop"></media-mute>
    <% } %>
  </div>
  <% } %>
</section>