<section>
  <div class="title bubble">
    <img src="assets/npr-logo.png" alt="NPR logo">
    <div class="title-anno">
      <h1>
        Joy
        <sketch-svg class="underline circle" duration=1000 delay=1000 data-activate="sketch">
          <%= t.include("assets/circle.svg") %>
        </sketch-svg>
      </h1>
      <h1>
        Generator
        <sketch-svg class="underline squiggle" speed=0.3 delay=2000 data-activate="sketch">
          <%= t.include("assets/squiggle.svg") %>
        </sketch-svg>
      </h1>
      <h1>
      </h1>
    </div>
    <%= t.renderMarkdown(slide.text) %>
  </div>
    <%= t.include("_chooser.html") %>
  <!-- <sketch-svg class="surprise">
    <%= t.include("assets/surprise.svg") %>
  </sketch-svg>
  <sketch-svg class="soothe">
    <%= t.include("assets/soothe.svg") %>
  </sketch-svg> -->
</section>
