<section class="chooser-slide">
  <div class="title bubble">
    <img src="assets/npr-logo.png" alt="NPR logo">
    <div class="title-anno">
      <h1>
        Joy
        <sketch-svg class="underline circle" duration=1000 delay=1000 data-activate="sketch">
          <%= t.include("assets/circle.svg") %>
        </sketch-svg>
      </h1>
      <h1>
        Generator
        <sketch-svg class="underline squiggle" speed=0.3 delay=2000 data-activate="sketch">
          <%= t.include("assets/squiggle.svg") %>
        </sketch-svg>
      </h1>
      <h1>
      </h1>
    </div>
    <%= t.renderMarkdown(slide.text) %>
  </div>
    <div class="choices">
      <button class="random-choice" style="background-image: url(assets/chooser-splotch.svg)">Surprise me!</button>
      <button class="random-choice" style="background-image: url(assets/chooser-splotch-2.svg)">Soothe me!</button>
    </div>
</section>
