<%
  var slug = [id, slide.slug, index, "link-gallery"].filter(d => d).join("-");
%>
<section data-slug="<%= slide.slug %>" id="<%= slug %>" class="link-gallery">
  <div class="wide content">
    <%= slide.text %>
    <ul>
      <% slide.links.forEach(function(v) { %>
      <li>
        <a href="https://youtube.com?v=<%= v.id %>"
          style="background-image: url(https://img.youtube.com/vi/<%= v.id %>/hqdefault.jpg)" target="_blank">
          <%= v.label %>
        </a>
      <% }) %>
    </ul>
  </div>
</section>