<%
  var slug = [id, slide.slug, index, "soundscapes"].filter(d => d).join("-");
%>
<section data-slug="<%= slide.slug %>" id="<%= slug %>" class="soundscapes">

  <shader-box></shader-box>

  <audio-visualizer color="white"></audio-visualizer>

  <div class="content">
    <%= t.renderMarkdown(slide.text) %>
    <div class="clips">
      <hr class="divider">
      <div class="top">
        <media-controls>
          <h4 class="clip-label"></h4>
          <button class="next">Next soundscape</button>
        </media-controls>
        <% for (var s of slide.soundscapes) { %>
        <audio
          id="soundscape-<%= s.id %>"
          data-label="<%= s.label %>"
          src="./assets/synced/audio/<%= s.audio %>"
        ></audio>
        <% } %>
      </div>
    </div>
  </div>
</section>
