<section class="title-slide" data-slug="title">
  <% if (metadata.video) { %>
  <video
    class="backdrop"
    loop autoplay muted playsinline
    data-src="./assets/synced/<%= metadata.video %>"
    poster="./assets/synced/<%= metadata.video %>.jpg"
    id="title-video"
  ></video>
  <% } %>
  <div class="content title">
    <h2><%= metadata.title %></h2>
    <sketch-svg class="underline squiggle" speed=0.3 delay=2000 data-activate="sketch">
      <%= t.include("assets/squiggle.svg") %>
    </sketch-svg>
    <h3><%= metadata.subtitle %></h3>
    <div class="autoplay">
      <input type="checkbox" checked id="autoplay-vid-<%= id %>">
      <label for="autoplay-vid-<%= id %>">Autoplay video?</label>
    </div>
  </div>
</section>
