<section
  class="title-slide"
  data-slug="title"
  <% if (metadata.video) { %>
  data-video="./assets/synced/<%= metadata.video %>"
  data-video-poster="./assets/synced/<%= metadata.video %>.jpg"
  data-loop
  data-autoplay
  data-muted
  <% } %>
>
  <% if (metadata.image) { %>
  <img class="backdrop" alt=""data-src="./assets/synced/images/<%= metadata.image %>">
  <% } %>
  <div class="content title" data-focus>
    <div class="splotch" role="img" alt="">
      <%= t.include("./assets/brush-bg-1.svg") %>
    </div>
    <h2><span class="mark"><%= metadata.title %></span></h2>

    <h3><%= metadata.subtitle %></h3>

    <% if (metadata.affordances) { %>
    <%= t.include("_affordances.html", {
      affordances: metadata.affordances.trim().split(" "),
      format: "long"
    }) %>
    <% } %>

    <hr class="divider">

    <state-check property="autoplay" checked>Autoplay video</state-check>

  </div>
</section>
