<%
  var slug = [id, slide.slug, index, "video-gallery"].filter(d => d).join("-");
%>
<section data-slug="<%= slide.slug %>" id="<%= slug %>" class="video-gallery">
  <div class="wide content">
    <%= slide.text %>
    <media-collection class="grid">
      <% slide.videos.forEach(function(v) { %>
      <simple-video controls loop stretched src="./assets/synced/<%= v.file %>" poster="./assets/synced/<%= v.file %>.jpg">
        <span class="video-label"><%= v.label %></span>
      </simple-video>
      <% }) %>
    </media-collection>
  </div>
</section>
