.affordances-block {
  list-style-type: none;
  padding: 5px;
  margin: 0;

  img {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    font-size: 12px;
    font-style: italic;
  }

  &.short {
    li {
      display: inline;
    }

    .label {
      .sr-only();
    }
  }
}
