@color-bg: #ffdf61;
@color-bg-light: #ffdf6173;
@color-hover: #E0BBE473;
@color-hover-gray: #DCDCDC73;
@colorOdd: #F0F0F0;
@colorEven: #F5F5F5;

web-story#cheat {
	font-family: var(--gotham);
	background-image: linear-gradient(to left top, @color-hover, #ffdf6173);
	

	.grid-container {
		margin-top:30px;
		display:grid;
		
		width: 750px;
		height:500px;
		max-height:90%;
		max-width:90%;
		grid-template-columns: 22% 22% 22% 22%;
		grid-template-rows: auto auto auto;
		margin-bottom: 50px;
		grid-column-gap: 4%;
		grid-row-gap: 6%;

		@media @mobile {
			grid-template-columns: 44% 44%;
			grid-template-rows: auto;
			grid-column-gap: 12%;
			grid-row-gap: 4%;
			margin-left:10px;
			margin-right:10px;
		}

		filter: drop-shadow(0 0 0.75rem #ffffff)
	}

	h1 {
		color:#a9a9a9;
	}

	div.controls {
		display:none;
	}

	// .grid-item:nth-child(even) {
	// 	background-color:@colorEven;
	// }

	// .grid-item:nth-child(odd) {
	// 	background-color:@colorOdd;
	// }

	.grid-item {
		//background-image: linear-gradient(to left top, white, @color-bg);
		//background: radial-gradient(#a9a9a9,white 100%);
		background-color:#ffffff73;
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
		//background-color:@color1;
		//border: 2px white solid;
		flex: 2;

		a {
			
			text-decoration: none;
			color: black;//#808080;
			text-transform: uppercase;
			letter-spacing:0.08em;
			text-align:center;
			width:90%;
			word-wrap: normal;
			margin:auto;
			font-size:14px;
			display:flex;
			padding-bottom:5px;
			flex-direction:column;
			justify-content: center;
			font-weight:normal;
			flex:2;

			@media @mobile{
				font-size:11px;
			}

			//border-bottom:1px solid #a9a9a9;
		}

		p {
			flex: 3;
			font-size:11px;
			//max-width:90%;
			color: #808080;
			width:90%;
			text-align:left;

			@media @mobile{
				font-size:10px;
			}

		}

		
	}

	.grid-item:nth-child(odd){
		border-radius:62% 40% 50% 55%;
	}

	.grid-item:nth-child(even){
		//border-radius:40% 50% 70% 80%;
		border-radius:50% 45% 70% 47%;
	}

	.grid-item:hover{
		//opacity:0.5;
		background-color:white;//@color-bg-light;//@color-hover;
		cursor:pointer;
		//border: 2px white solid;
		background-image: none;//linear-gradient(to top, color-bg, white 10%, @color-bg);

		a {
			// color: black;
			// font-weight:bold;
		}
	}


}