@color-bg: #ffdf61;
@color-bg-light: #ffdf6173;
@color-hover: #E0BBE473;
@color-hover-gray: #DCDCDC73;
@colorOdd: #F0F0F0;
@colorEven: #F5F5F5;

web-story#menu {
	font-family: var(--gotham);

	//LIGHT VERSION
	//background: linear-gradient(270deg, #F6EEEA, #FBDECC,@color-hover,#DBEEF2);

	//MORE COLOR VERSION (May 20, 2021)
	background: linear-gradient(270deg, @salmon, @lavender, @sky);

    background-size: 400% 400%;
    animation: colorShift 30s linear infinite alternate;

    @keyframes colorShift {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }


	.grid-container {
		margin-top:10px;
		display:grid;

		width:750px;
		height:600px;
		max-height:95%;
		max-width:95%;
		grid-template-columns: 22% 22% 22% 22%;
		grid-template-rows: 30% 30% 30%;
		//margin-bottom: 50px;
		grid-column-gap: 4%;
		grid-row-gap: 5%;

		@media @mobile {
			grid-template-columns: 44% 44%;
			grid-template-rows: auto;
			grid-column-gap: 12%;
			grid-row-gap: 4%;
			margin-left:10px;
			margin-right:10px;
		}

		filter: drop-shadow(0 0 0.75rem #ffffff)
	}

	h1 {
		// color:#808080;
		letter-spacing: 0.1em;
		color: white;
		// font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;
	}

	// div.controls {
	// 	display:none;
	// }

	// .grid-item:nth-child(even) {
	// 	background-color:@colorEven;
	// }

	// .grid-item:nth-child(odd) {
	// 	background-color:@colorOdd;
	// }

	.grid-item {
		//background-image: linear-gradient(to left top, white, @color-bg);
		//background: radial-gradient(#a9a9a9,white 100%);
		background-color:#ffffff66;
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
		//background-color:@color1;
		//border: 2px white solid;
		flex: 2;

		a {
			text-decoration: none;
			color: #505050;
			text-transform: uppercase;
			letter-spacing:0.1em;
			text-align:center;
			width:90%;
			word-wrap: normal;
			margin:auto;
			font-size:14px;
			display:flex;
			padding-bottom:5px;
			flex-direction:column;
			justify-content: center;
			font-weight:normal;
			flex:2;
			//text-shadow: 0px 0px 5px white;

			@media @mobile{
				font-size:12px;
			}
		}

		// p {
		// 	flex: 3;
		// 	font-size:11px;
		// 	color: #808080;
		// 	width:90%;
		// 	text-align:left;

		// 	@media @mobile{
		// 		font-size:10px;
		// 	}
		// }
	}

	.grid-item:nth-child(even){
		border-top-left-radius: 30% 40%;
  	border-top-right-radius: 70% 60%;
  	border-bottom-right-radius: 70% 40%;
  	border-bottom-left-radius: 30% 60%;
	}

	.grid-item:nth-child(odd){
		border-top-left-radius: 70% 40%;
  	border-top-right-radius: 30% 40%;
  	border-bottom-right-radius: 60% 40%;
  	border-bottom-left-radius: 30% 60%;

		// border-top-left-radius: 60% 50%;
  // 	border-top-right-radius: 70% 40%;
  // 	border-bottom-right-radius: 30% 35%;
  // 	border-bottom-left-radius: 70% 60%;
	}

	.grid-item:nth-child(1){
		border-top-left-radius: 30% 40%;
  	border-top-right-radius: 70% 40%;
  	border-bottom-right-radius: 30% 60%;
  	border-bottom-left-radius: 60% 40%;
	}

	.grid-item:nth-child(3n){
		border-top-left-radius: 30% 60%;
  	border-top-right-radius: 70% 40%;
  	border-bottom-right-radius: 70% 60%;
  	border-bottom-left-radius: 30% 40%;
	}

	.grid-item:nth-child(5n){
		border-top-left-radius: 70% 40%;
  	border-top-right-radius: 30% 40%;
  	border-bottom-right-radius: 60% 40%;
  	border-bottom-left-radius: 30% 60%;
	}

	// .grid-item:nth-child(3){
	// 	border-top-left-radius: 70% 60%;
 //  	border-top-right-radius: 30% 40%;
 //  	border-bottom-right-radius: 30% 60%;
 //  	border-bottom-left-radius: 70% 40%;
	// }

// .grid-item:nth-child(8){
// 		border-top-left-radius: 70% 40%;
//   	border-top-right-radius: 30% 40%;
//   	border-bottom-right-radius: 60% 40%;
//   	border-bottom-left-radius: 30% 60%;
// 	}


	// .grid-item:nth-child(3n){
	// 	border-top-left-radius: 70% 60%;
 //  	border-top-right-radius: 30% 40%;
 //  	border-bottom-right-radius: 30% 60%;
 //  	border-bottom-left-radius: 70% 40%;
	// }






	.grid-item:hover{
		//opacity:0.5;
		background-color:white;//@color-bg-light;//@color-hover;
		cursor:pointer;
		//border: 2px white solid;
		background-image: none;//linear-gradient(to top, color-bg, white 10%, @color-bg);

		a {
			color: black;
			// font-weight:bold;
			//text-shadow: 1px 1px 5px @color-bg-light
		}
	}


}
