#art {
  [data-slug="doodle"] {
    align-items: stretch;

    h3 {
      color: white;
      font-weight: normal;
    }

    //MORE COLOR VERSION (May 20, 2021)
    background: linear-gradient(270deg, @salmon, @lavender, @sky);

    background-size: 400% 400%;

    zen-doodle {
      flex: 1;
    }
  }
}
