#art {
  [data-slug="doodle"] {
    align-items: center;

    h3 {
      color: white;
      font-weight: normal;
      max-width: 85%; 
    }

    //MORE COLOR VERSION (May 20, 2021)
    background: linear-gradient(270deg, @salmon, @lavender, @sky);

    background-size: 400% 400%;

    zen-doodle {
      flex: 1;
      width: 100%;
      max-width: 100vh;
    }
  }
}
