#asmr {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
    gap: 16px;
    align-items: center;
  }

  #asmr-vids {
    background-color: #A1CECC;

    .content {
      background: none;
      text-align: center;
      color: black;
    }
  }
}
