.chooser-slide {

  .contents {
    margin: auto;
    width: 300px;
    position: relative;
    z-index: 9;

    .text {
      margin-top: 24px;
      background: fade(black, 50%);
      text-align: left;
      color: white;
      padding: 20px;
      border-radius: 30px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: block;
        margin-bottom: 12px;
      }
    }

    h3 {
      text-transform: uppercase;
      font-family: @gotham;
      font-weight: 300;
    }

    a {
      color: inherit;
    }
  }

  .choices button {
    display: block;
    background: transparent;
    // background: fade(white, 80%);
    color: @unbiased;
    border: none;
    padding: 12px;
    font-family: @gotham;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    // text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      // background: white;
    }

    &:focus {
      outline: none;
      border: 2px dashed var(--buttons-bg);
    }

    &.random-choice {
      // border-radius: 70px 50px 70px 40px;
      margin-bottom: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;


      &:hover, &:focus {
        outline: none;
      }

      &:focus {
        border: none;
      }
    }
  }

  .expander {
    background: transparent;
    color: white;
    text-align: center;
    display: none;

    &:hover {
      background: fade(white, 20%);
    }

    svg {
      display: block;
      margin: 10px auto;
    }
  }

}
