.drop-down {
  position: relative;
  perspective: 200px;

  .drop-toggle {
    display: block;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    padding: 4px;
    font-family: inherit;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0.1em;

    &:hover, &:focus {
      color: black;
      background: white;
      border: 2px solid black ;
    }
  }

  &.expanded ul {
    transform: none;
    opacity: 1;
  }

  &.enabled ul {
    transition: all .3s ease;
  }

  ul {
    position: absolute;
    top: calc(~"100% + 10px");
    right: 0;
    background: white;
    color: black;
    // padding: 8px 20px;
    padding-inline-start: 0;
    border-radius: 10px;
    margin: 0;
    list-style-type: none;
    border: 1px solid fade(black, 30%);
    box-shadow: 4px 4px 0 fade(black, 30%);
    transform-origin: center;
    transform: skew(15deg) rotateX(-40deg) translateX(100%);
    opacity: .01;
  }

  li {
    display: block;
    padding: 10px;

    label {
      font-style: italic;
    }

    &:nth-child(1) {
      &:hover, &:focus {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }

    &:nth-child(-n+3) {
      border-bottom: 1px solid #ccc;

      &:hover, &:focus {
        background-color: @yellow;
        // color: white;
      }
    }

    &:nth-child(4) {
      padding-bottom: 0;
      padding-top: 15px;
    }

    &:nth-child(5) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  a, button {
    border: none;
    background: transparent;
    padding: 0;
    display: inline;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    text-transform: initial;
    border-bottom: 2px solid transparent;
    border-radius: 0;

    &:hover, &:focus {
      // border-color: black;
      outline: none;
    }
  }

  // input + label {
  //   border-bottom: 2px solid transparent;
  //   border-radius: 0;
  // }
  //
  // input:focus + label {
  //   border-color: black;
  // }
}
