#intro {
  // background: linear-gradient(to bottom, #FFE, #FFA);
  background-color: #09b09f;

  web-story {
    --controls-bg: transparent;
    --buttons-bg: #ffdf61;
  }

  & sketch-svg svg {
    // display: none;
    position: fixed;
    pointer-events: none;
    top: 60vh;
    left: 30vw;
    height: 35vh;
    width: 35vw;
    stroke-width: 100;
    color: #99d2b1;
  }

  h2 {
    // font-family: @gotham;
    font-family: 'Kalam', cursive;
    // text-transform: uppercase;
    max-width: 300px;
    font-size: 36px;
    text-align: center;
    // text-shadow: 0 0 8px #FFA;
  }

  .bubble {
    // border-radius: 100%;
    border-radius: 120px 160px 130px 200px;
    width: 200px;
    height: 200px;
    // background: fade(@unbiased, 40%);
    background-color: #ffdf61;
    color: black;
    font-family: @gotham;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 50px;
    text-align: center;
  }
}
