#naturesounds {
	@keyframes slow-zoom {
		from { transform: scale(1); }
		to { transform: scale(1.4); }
	}

	.audio-mixer .backdrop {
		// animation-name: slow-zoom;
		animation-duration: 30s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		transform-origin: top;
	}

	h4.mixer-label {
		font-size: 11px;
		font-weight: normal;
		margin: 0px;
		color: #FFEA61;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.15em;
	}

	.mixer-element {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.mixer-element:first-child {
		margin-top: 20px;
	}

	.mixer-element:last-child {
		margin-bottom: 20px;
	}

	@keyframes vanishing-point {
		from {
			perspective: 3000px;
		}
		to {
			perspective: 1000px;
		}
	}

	.parallax {
		perspective-origin: bottom;
		top: 0;
		left: 0;
		position: fixed;
		width: 100vw;
		height: 100vh;
		animation: vanishing-point 20s ease-out 0s infinite alternate;

		img {
			transform: translateZ(var(--image-parallax));
		}
	}
}
