#naturesounds {

	h4.mixer-label{
		font-size:11px;
		font-weight:normal;
		margin: 0px;
		color:#ffdf61;
		text-align:center;
		text-transform:uppercase;
		letter-spacing: 0.15em;
	}

	.mixer-element{
		margin-bottom:40px;
		margin-top:40px;
	}

	.mixer-element:first-child {
		margin-top:20px;
	}

	.mixer-element:last-child {
		margin-bottom:20px;
	}

	@keyframes vanishing-point {
		from { perspective-origin:center;perspective: 2000px;}
		to { perspective-origin:center left;perspective: 2500px; }
	}

	.backdrop {
		//object-fit: contain;
	}

	.parallax {
	  top: 0;
	  left: 0;
	  position:fixed;
	  width: 100vw;
	  height: 100vh;
	  animation-name: vanishing-point;
	  animation-duration: 4s;
	  animation-fill-mode: both;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	  animation-timing-function: ease-in;
	}

	img {
	 transform: translateZ(var(--image-parallax));
	}
	

}



