
@keyframes drift {
  from { transform: rotate(0turn); }
  to { transform: rotate(1turn); }
}

web-story#nostalgia {
  background: #f1dcac;
  transition: background 1s linear;

  .soundscapes {
    position: relative;
    .pinned() {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    svg, shader-box {
      .pinned();
      background: #555;
    }

    audio-visualizer {
      .pinned();

      @media @portrait {
        top: 50%;
        height: 50vh;
        max-heigh: 400px;
        transform: translateY(-50%);
      }
    }

    circle {
      .define(@index, @direction: normal) {
        &:nth-child(@{index}) {
          fill: fade(spin(salmon, @index * 43deg), 20%);
          animation: drift (30s * @index) linear infinite @direction;
        }
      }

      fill: none;
      .define(1);
      .define(2, reverse);
      .define(3, reverse);
      .define(4);
      .define(5, reverse);
      .define(6);
      .define(7, reverse);
      .define(8, reverse);
      .define(9);
      .define(19, reverse);
    }

    .top {
      position: relative;
    }

    h4 {
      margin: 0;
      text-align: center;
      .gotham();
    }

    button.next {
      background: var(--buttons-bg);
      color: black;
      padding: 8px;
      border: none;
      border-radius: 8px;
      .gotham();
      margin: 4px auto;
      display: block;
    }
  }
}
