#poetry {

  @keyframes draw-strike {
    to { width: 100%; }
  }

  [data-slug="blackout-demo"] {

    b {
      // font-weight: inherit;
    }

    .strike {
      position: relative;
      display: inline-block;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        animation-name: draw-strike;
        animation-duration: .2s;
        animation-fill-mode: both;
        animation-delay: inherit;
        content: "";
        display: block;
        background: black;
      }
    }
  }

  [data-slug="blackout-interactive"] {
    background-image: url(./assets/synced/images/poetry-bg-1.jpg);
    background-size: cover;
  }

  blackout-poetry {
    flex: 1;
    width: 500px;
    max-width: 100%;
    margin: 20px auto;
    background: white;
    box-shadow: 4px 4px 8px fade(black, 30%);
  }
}
