@import "base";
@import "web-story";

@import "intro";
@import "nostalgia";

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes spin-out {
  from { transform: rotate(0) scale(1); }
  to { transform: rotate(720deg) scale(2); }
}

@keyframes spin-in {
  to { transform: rotate(0) scale(1); }
  from { transform: rotate(720deg) scale(2); }
}

@keyframes zoom {
  from { transform: scale(2); }
  to { transform: scale(1); }
}

.exiting {
  animation-name: fade-out, spin-out;
  animation-duration: 800ms, 3s;
  animation-timing-function: linear, ease;
  animation-fill-mode: both;
}

.entering {
  animation-name: fade-in, zoom;
  animation-duration: 800ms, 1s;
  animation-fill-mode: both;
}


.story-route:not(.active) {
  display: none;
}