@import "base";
@import "story-transitions";
@import "web-story";
@import "chooser";
@import "ui";
@import "nav";
@import "all-stories";

.story-route:not(.active) {
  display: none;
}

// specific story styles
@import "animals";
@import "asmr";
@import "intro";
@import "nostalgia";
@import "poetry";
@import "forest";


closed-captions {
  position: fixed;
  bottom: 100px;
  left: 0;
  width: 100%;
  text-align: center;
}

// export LESS to CSS
:root {
  --gotham: @gotham;
  --knockout: @knockout;
  --sans: @sans;
  --serif: @serif;
  --handwriting: @handwriting;
  --accent-dark: @accent-dark;
  --accent-light: @accent-light;
  --ui-highlight: #ffdf61;
}