// light DOM styles for web-story elements

web-story {
  --controls-bg: fade(black, 30%);
  --buttons-bg: @sky;
  --buttons-fg: @yellow;
  --buttons-focus: @salmon;
  --buttons-bg-light: fade(@yellow, 30%);
  --nav-bg: transparent;
  --nav-fg: white;
  --nav-focus: black;

  [tabindex="-1"] {
    outline: none;
  }

  [hidden] {
    display: none !important;
  }

  section {
    display: flex;
    min-height: calc(~"var(--vh) * 100");
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    // background: linear-gradient(to bottom, #FFD, #FFB);
    padding-top: 40px;
    padding-bottom: 80px;
  }

  [intangible] {
    pointer-events: none;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .splotch svg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 400px) and (max-width: 499px) {
      width: 100vw;
      height: 101vw;
    }

    @media screen and (min-width: 321px) and (max-width: 375px) {
      width: 100vw;
      height: 115vw;
    }
  }

  .content {
    z-index: 99;
    position: relative;
    background: fade(black, 50%);
    border-radius: 20px;
    color: #F8F8F8;
    padding: 24px;
    font-size: 16px;
    max-width: 400px;
    line-height: 1.4;
    text-align: left;

    &.wide {
      max-width: calc(~"100% - 20px");
    }

    &.title {
      background: transparent;
      max-width: 650px;
      margin: 0 auto;
      color: black;
      text-align: center;
      padding: 80px;

      h2 {
        font-weight: bold;
        margin-bottom: 0; 
      }

      h3 {
        padding-bottom: 10px;
      }
    }

    mark {
      margin: 0 -0.4em;
      padding-right: 0.3em;
      border-radius: 0.8em 0.3em;
      background: transparent;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 1) 4%,
        rgba(255, 255, 255, 0.9)
      );
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      // effect from here: https://max.hn/thoughts/how-to-create-a-highlighter-marker-effect-in-css
    }

    h2 {
      font-size: 38px;
      font-family: @gotham;
      font-weight: 350;
      // background-color: white;
      // text-transform: uppercase;

      @media @mobile {
        font-size: 34px;
      }
    }

    h3 {
      font-family: @gotham;
      font-weight: 300;
      font-size: 14px;
    }

    video {
      max-width: 100%;
      display: block;
    }

    @media @mobile {
      max-width: 300px;
    }
  }

  .tutorial-splotch {
    background-image: url(assets/tutorial-splotch.svg);
  }
}
