// light DOM styles for web-story elements

web-story {
  --controls-bg: fade(black, 20%);
  --buttons-bg: fade(white, 80%);
  --buttons-fg: black;

  [hidden] {
    display: none !important;
  }

  section {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
  }

  [intangible] {
    pointer-events: none;
  }
}