// light DOM styles for web-story elements

web-story {
  --controls-bg: fade(black, 20%);
  --buttons-bg: #ffdf61;
  --buttons-fg: black;
  --buttons-bg-light: rgba(255, 223, 97, 0.3);
  --nav-bg: rgba(255, 223, 97, 0);
  --nav-fg: white;

  [tabindex="-1"] {
    outline: none;
  }

  [hidden] {
    display: none !important;
  }

  section {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    // background: linear-gradient(to bottom, #FFD, #FFB);
    padding-top: 40px;
    padding-bottom: 80px;
  }

  [intangible] {
    pointer-events: none;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    position: relative;
    background: fade(black, 50%);
    border-radius: 20px;
    color: #F8F8F8;
    padding: 24px;
    font-size: 22px;
    max-width: 400px;
    text-align: left;

    &.wide {
      max-width: calc(~"100% - 20px");
    }

    h2 {
      font-size: 48px;
      font-family: @gotham;
      font-weight: 350;
      text-transform: uppercase;

      @media @mobile {
        font-size: 38px;
      }
    }

    h3 {
      font-family: @gotham;
      font-weight: 300;
      font-size: 20px;
    }

    video {
      max-width: 100%;
      display: block;
    }

    @media @mobile {
      max-width: 300px;
    }
  }
}
