<%
  var section = grunt.data.archieml.text.pages.about;
  var all = grunt.data.archieml;
  var { metadata, slides } = section;
  var id = "about";
%>
<web-story
  id="about" class="story-route exclude-random"
  aria-hidden="true"
  hidecontrols="next previous filmstrip controls">
  <section>
    <h1>ABOUT THIS PROJECT</h1>
    <p class="about"><%= metadata.about %></p>

    <h1>CREDITS</h1>
    <p class="teaser">Click on the bubbles to see something that brings us joy!</p>

    <div class="grid-container">
      <% if (metadata.people) { %>
        <% metadata.people.forEach(function(r) { %>
          <div class="grid-item" id="bubble-<%= r.id %>">
            <div class="front">
              <h3 class="title"><%= r.name %></h3>
              <span class="subtitle"><%= r.title %></span>
            </div>
            <div class="back">
              <span class="joy"><%= r.joy %></span>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>

    <h1>ADDITIONAL CREDITS</h1>

    <div class="story-creds">
      <% Object.keys(all.text.pages).forEach(a => { %>
        <%
          var { metadata } = all.text.pages[a];
          if (!metadata || !metadata.published) return;
        %>
      <a class="cred-item" href="#story=<%= a %>">
        <h3 class="title"><%= metadata ? metadata.title : a %></h3>
      </a>
      <p class="cred-text"><%= metadata.creds %></p>
      <% }) %>
      <% if (metadata.creds) { %>
        <% metadata.creds.forEach(function(r) { %>
          <div class="cred-item">
              <% if (r.story) { %>
                <h3 class="title"><%= r.story %></h3>
              <% } %>
              <p class="cred-text"><%= r.creds %></p>
          </div>
        <% }) %>
      <% } %>
    </div>
  </section>
</web-story>
