<% 
var section = grunt.data.archieml.text.pages.asmr; 
var slides = section.slides.slice();
var last = slides.pop();

%>
<web-story id="asmr" class="story-route">
  <% if (section.metadata) { %>
  <section data-slug="title">
    <% if (section.metadata.video) { %>
    <video
      class="backdrop"
      loop autoplay muted
      data-src="./assets/<%= section.metadata.video %>"
      id="title-video"
    ></video>
    <% } %>
    <div class="content">
      <h2><%= section.metadata.title %></h2>
      <h3><%= section.metadata.subtitle %></h3>
      <input type="checkbox" checked class="autoplay"> Autoplay video?
    </div>
  </section>
  <% } %>
  <% slides.forEach(function(slide, index) { %>
  <section data-slug="<%= slide.slug %>">
    <% if (slide.video) { %>
    <video class="backdrop" id="asmr-bg-<%= index %>" loop autoplay muted data-src="./assets/<%= slide.video %>"></video>
    <% } %>
    <div class="content">
      <%= t.renderMarkdown(slide.text) %>
      <media-mute for="asmr-bg-<%= index %>"></media-mute>  
    </div>
  </section>
  <% }) %>
  <section data-slug="video-grid">
    <shader-box class="backdrop"></shader-box>
    <div class="wide content">
      <%= last.text %>
      <media-collection class="grid">
        <!-- <div style="display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 4px"> -->
          <simple-video controls loop src="./assets/ignored/ASMR-sand-cutting.mp4"></simple-video>
          <simple-video controls loop src="./assets/ignored/ASMR-sand-bubbles.mp4"></simple-video>
          <simple-video controls loop src="./assets/ignored/ASMR-sand-stir.mp4"></simple-video>
          <simple-video controls loop src="./assets/ignored/ASMR-sand-mix.mp4"></simple-video>
        <!-- </div> -->
      </media-collection>
    </div>
  </section>
  <section data-slug="asmr-chooser">
    <shader-box class="chooser backdrop" src="./assets/lava.glsl"></shader-box>
    <%= t.include("_chooser.html") %>
  </section>
</web-story>