<% 
  var section = grunt.data.archieml.text.pages[id];
  var { metadata, slides } = section;
%>
<web-story id="<%= id %>" class="story-route">
  <% if (metadata) { %>
  <section data-slug="title">
    <% if (metadata.video) { %>
    <video
      class="backdrop"
      loop autoplay muted
      data-src="./assets/<%= metadata.video %>"
      id="title-video"
    ></video>
    <% } %>
    <div class="content">
      <h2><%= metadata.title %></h2>
      <h3><%= metadata.subtitle %></h3>
      <input type="checkbox" checked class="autoplay"> Autoplay video?
    </div>
  </section>
  <% } %>
  <% for (var index = 0; index < slides.length; index++) {
    var slide = slides[index];
    print(t.include(`slides/_${slide.template || "generic"}.html`, { slide, id, index })); 
  } %>
  <section data-slug="<%= id %>-chooser">
    <shader-box class="backdrop" src="./assets/lava.glsl"></shader-box>
    <%= t.include("_chooser.html") %>
  </section>
</web-story>
