<% var slides = grunt.data.archieml.text.pages.intro2.slides.slice() %>
<div id="intro2" class="intro story-route exclude-random">
  <video class="backdrop" autoplay loop muted>
    <source data-possible="./assets/ignored/flock-x.mp4">
    <source data-possible="./assets/ignored/jellyfish-x.mp4">
    <source data-possible="./assets/ignored/painting-x.mp4">
  </video>
  <web-story hidecontrols="previous filmstrip close">
    <% 
      for (var slide of slides) {
      switch (slide.type) {
        case "first": %>
    <section>
      <div class="text bubble">
        <h2>Looking for joy/calm/zen?</h2>
      </div>
      <div class="instruction bubble">
        Click the arrows to continue
      </div>
    </section> <%
        break;

        default:
    %>
    <section>
      <div class="text bubble">
        <h2>Science has your back. There are proven ways to rediscover your zen. You just have to dive in and try them.</h2>
      </div>
    </section> <%
        break;

        case "chooser":
    %>
    <section>
      <div class="title bubble">
        <img src="assets/npr-logo.png" alt="NPR logo">
        <h1>Joy Generator</h1>
        <p>Let us surprise you. <br> Play along to feel better now. </p>
      </div>
        <%= t.include("_chooser.html") %>
    </section> <%
      }
    }
    %>
  </web-story>
</div>