<web-story
  id="menu" class="story-route exclude-random"
  aria-hidden="true"
  hidecontrols="next previous filmstrip controls">
  <section>
    <h1>MENU</h1>
    <div class="grid-container">
    <% Object.keys(archieml.text.pages).forEach(a => { %>
      <% 
        var { metadata } = archieml.text.pages[a];
        if (!metadata || !metadata.published) return;
      %>
    <a class="grid-item" href="#story=<%= a %>">
      <%= metadata ? metadata.title : a %>
      <% if (metadata.affordances) { %>
      <%= t.include("_affordances.html", {
        affordances: metadata.affordances.trim().split(" "),
        format: "short"
      })
      %>
      <% } %>
    </a>
    <% }) %>
    </div>
  </section>
</web-story>
