<web-story
  id="menu" class="story-route exclude-random"
  hidecontrols="next previous filmstrip controls">
  <section>
    <h1 data-focus>Browse all stories</h1>
    <div class="grid-container">
    <% Object.keys(archieml.text.pages).forEach(a => { %>
      <%
        var { metadata } = archieml.text.pages[a];
        if (!metadata || !metadata.published) return;
      %>
    <a class="grid-item" href="#story=<%= a %>">
      <div class="title"><%= metadata ? metadata.title : a %></div>
      <span class="subtitle"><%= metadata.subtitle %></span>
      <% if (metadata.affordances) { %>
      <%= t.include("_affordances.html", {
        affordances: metadata.affordances.trim().split(" "),
        format: "short"
      })
      %>
      <% } %>
    </a>
    <% }) %>
    </div>
  </section>
</web-story>
