<web-story
  id="menu" class="story-route exclude-random"
  aria-hidden="true"
  hidecontrols="next previous filmstrip controls">
  <section>
    <h1>MENU</h1>
    <div class="grid-container">
    <% Object.keys(archieml.text.pages).forEach(a => { %>
      <% var page = archieml.text.pages[a]; %>
    <div class="grid-item">
    <!--<br>-->
    <a href="#story=<%= a %>">
      <%= page.metadata ? page.metadata.title : a %>
    </a>
    <!--<span class="subtitle">
      <%= page.metadata ? page.metadata.subtitle : a %>
    </span>-->

    </div>
    <% }) %>
    </div>
  </section>
</web-story>
