<web-story id="nostalgia" class="story-route">
  <% archieml.text.pages.nostalgia.slides.forEach(function(slide) { %>
  <section intangible data-slug="<%= slide.slug %>">
    <% if (slide.video) { %>
    <video loop autoplay muted src="./assets/synced/video/<%= slide.video %>"></video>
    <% } %>
    <div class="content"><%= t.renderMarkdown(slide.text) %></div>
  </section>
  <% }) %>
  <section data-slug="chipmunk" data-goto="intro">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mfhBM_Yay6w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>
</web-story>