<% var section = archieml.text.pages.nostalgia; %>
<web-story id="nostalgia" class="story-route">
  <% if (section.metadata) { %>
  <section data-slug="title">
    <% if (section.metadata.video) { %>
    <video
      class="backdrop"
      loop autoplay muted
      data-src="./assets/<%= section.metadata.video %>"
      id="title-video"
    ></video>
    <% } %>
    <div class="content">
      <h2><%= section.metadata.title %></h2>
      <h3><%= section.metadata.subtitle %></h3>
      <input type="checkbox" checked class="autoplay"> Autoplay video?
    </div>
  </section>
  <% } %>
  <% section.slides.forEach(function(slide) { %>
  <section intangible data-slug="<%= slide.slug %>">
    <% if (slide.video) { %>
    <video
      class="backdrop"
      loop autoplay muted
      data-src="./assets/<%= slide.video %>"
      id="<%= slide.slug %>-video"
    ></video>
    <% } %>
    <div class="content"><%= t.renderMarkdown(slide.text) %></div>
  </section>
  <% }) %>
  <section data-slug="nostalgia-audio">
    <div class="clips">

      <shader-box></shader-box>
      
      <% if (false) { %>
      <svg class="bokeh" viewBox="0 0 10 10" preserveAspectRatio="xMidYMid slice">
        <filter id="bokeh-blur">
          <feGaussianBlur in="SourceGraphic" stdDeviation=.2></feGaussianBlur>
        </filter>
        <g filter="url(#bokeh-blur)">
          <% var to = () => (Math.random() * 2 - 1) * 40 + 50 + "%" %>
          <% for (var i = 0; i < 10; i++) { %>
          <circle 
            cx="<%= (Math.random() * 8 | 0) + 1 %>" 
            cy="<%= (Math.random() * 8 | 0) + 1 %>" 
            r="<%= (Math.random() * 3 | 0) + 3 %>"
            style="
              transform-origin: <%= to() %> <%= to() %>;
              animation-delay: -<%= Math.random() * 13 | 0 %>s;
            "
          ></circle>
          <% } %>
          <rect x=0 y=0 width="100%" height="100%" fill="none"></rect>
        </g>
      </svg>
      <% } %>

      <audio-visualizer color="white"></audio-visualizer>

      <div class="top">
        <h3>Take me back!</h3>
        <media-controls>
          <h4 class="clip-label"></h4>
          <button class="next">Next soundscape</button>
        </media-controls>
        <audio id="soundscape-travel" data-label="Going somewhere?" src="./assets/ignored/soundscape_travel.mp3.mp3"></audio>
        <audio id="soundscape-home" data-label="Staying home" src="./assets/ignored/soundscape_home.mp3.mp3"></audio>
        <audio id="soundscape-tech" data-label="Beep!" src="./assets/ignored/soundscape_tech.mp3.mp3"></audio>
      </div>
    </div>
  </section>
  <section>
    <%= t.include("_chooser.html") %>
  </section>
</web-story>