<% 
  var section = archieml.text.pages.nostalgia;
  var slides = section.slides.slice();
  var last = slides.pop();
%>
<web-story id="nostalgia" class="story-route">
  <% if (section.metadata) { %>
  <section data-slug="title">
    <% if (section.metadata.video) { %>
    <video
      class="backdrop"
      loop autoplay muted
      data-src="./assets/<%= section.metadata.video %>"
      id="title-video"
    ></video>
    <% } %>
    <div class="content">
      <h2><%= section.metadata.title %></h2>
      <h3><%= section.metadata.subtitle %></h3>
      <input type="checkbox" checked class="autoplay"> Autoplay video?
    </div>
  </section>
  <% } %>
  <% slides.forEach(function(slide) { %>
  <section intangible data-slug="<%= slide.slug %>">
    <% if (slide.video) { %>
    <video
      class="backdrop"
      loop autoplay muted
      data-src="./assets/<%= slide.video %>"
      id="<%= slide.slug %>-video"
    ></video>
    <% } %>
    <div class="content"><%= t.renderMarkdown(slide.text) %></div>
  </section>
  <% }) %>
  <section data-slug="nostalgia-audio" class="soundscapes">

    <shader-box></shader-box>

    <audio-visualizer color="white"></audio-visualizer>

    <div class="content">
      <%= t.renderMarkdown(last.text) %>
      <div class="clips">

        <div class="top">
          <media-controls>
            <h4 class="clip-label"></h4>
            <button class="next">Next soundscape</button>
          </media-controls>
          <% for (var s of last.soundscapes) { %>
          <audio 
            id="soundscape-<%= s.id %>" 
            data-label="<%= s.label %>" 
            src="<%= s.audio %>"
          ></audio>
          <% } %>
        </div>
      </div>
    </div>
  </section>
  <section data-slug="nostalgia-chooser">
    <shader-box class="backdrop" src="./assets/lava.glsl"></shader-box>
    <%= t.include("_chooser.html") %>
  </section>
</web-story>