<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet">
  <body>

    <nav class="top-bar">
      <a class="logo" href="#story=intro">
        <img src="./assets/logo-outline.svg" alt="NPR">
        <%= archieml.text.metadata.title %>
      </a>

      <div class="drop-down">

        <button class="drop-toggle" aria-haspopup="true" aria-controls="drop-down-menu">Menu</button>

        <ul id="drop-down-menu">
          <li>
            <a href="#story=menu">Browse stories</a>

          <li>
            <div class="autoplay checks">
              <input type="checkbox" checked id="autoplay-all">
              <label for="autoplay-all">Autoplay video?</label>
            </div>


          <li>
            <div class="captioning checks">
              <input type="checkbox" checked id="caption-all">
              <label for="caption-all">Show captions?</label>
            </div>

          <li>
            <button class="share">Share page</button>
        </ul>

      </div>

    </nav>

    <%= t.include("_intro.html") %>

    <%= t.include("_intro_alternate.html") %>

    <% 
      for (var k in archieml.text.pages) {
        var { metadata } = archieml.text.pages[k];
        if (!metadata || !metadata.published) continue;
        if (metadata.template) {
          print(t.include(metadata.template));
        } else {
          print(t.include("_generic.html", { id: k }));
        }
      }
    %>

    <%= t.include("_menu.html") %>

    <%= t.include("_generic.html", { id: "about", suppress: true }) %>

    <closed-captions></closed-captions>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>