<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <div id="intro" class="story-route">
      <web-story hidecontrols="previous filmstrip close">
        <section data-slug="dyk">
          <sketch-svg class="svgbg" data-activate="sketch">
            <%= t.include("assets/reading-background.svg") %>
          </sketch-svg>
          <sketch-svg class="svgbg" data-activate="sketch">
            <%= t.include("assets/reading-outline.svg") %>
          </sketch-svg>
          <h2>Did you know there is science behind joy?</h2>
          <div class="bubble">
            Click the arrows to continue
          </div>
        </section>
        <section>
          <sketch-svg data-activate="sketch">
            <%= t.include("assets/export-selection.svg") %>
          </sketch-svg>
          <h2>So we made this experience to share that with you</h2>
        </section>
        <section>
          <%= t.include("_chooser.html") %>
        </section>
      </web-story>
    </div>

    <%= t.include("_nostalgia.html") %>

    <%= t.include("_generic.html", { id: "forest" }) %>

    <%= t.include("_generic.html", { id: "flow" }) %>

    <%= t.include("_generic.html", { id: "asmr" }) %>

    <%= t.include("_generic.html", { id: "ritual" }) %>

    <%= t.include("_generic.html", { id: "awe" }) %>

    <%= t.include("_generic.html", { id: "poetry" }) %>

    <%= t.include("_generic.html", { id: "connection" }) %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
