<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet">
  <body>

    <nav class="top-bar">
      <div class="logo">
        <img src="./assets/logo-outline.svg" alt="NPR">
        Science
      </div>

      <a href="#story=menu">Stories</a>

      <button class="share">Share</button>
    </nav>

    <%= t.include("_intro.html") %>

    <%= t.include("_intro_alternate.html") %>

    <% 
      for (var k in doc.pages) {
        var { metadata } = doc.pages[k];
        if (!metadata || !metadata.published) continue;
        if (metadata.template) {
          print(t.include(metadata.template));
        } else {
          print(t.include("_generic.html", { id: k }));
        }
      }
    %>

    <%= t.include("_menu.html") %>

    <%= t.include("_generic.html", { id: "about", suppress: true }) %>

    <closed-captions></closed-captions>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>